*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(40, 21, 53);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-width: max-content;
    gap: 5em;
}

.time-wrapper{
    position: relative;
    margin-bottom: 2rem;
}

.timer {
    font-size: 6em;
    color:rgb(210, 255, 247);
}

.ms{
    position: absolute;
    right: 1rem;
    font-size: 1.75rem;
    color:rgb(63, 235, 54)
}

.action {
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8ch;
    height: 3ch;
    border-radius: .35em;
    font-size: 1.75em;
    color: #333;
}

.btn:hover{
    color:rgb(0, 0, 0);
    scale: 1.05;
}
.btn:active{
    color:rgb(255, 255, 255);
    scale: 1;
}

.btn-start {
    background-color: rgb(63, 235, 54);
}
.btn-pause {
    background-color: rgb(255, 174, 35);
}
.btn-progress {
    background-color: rgb(202, 199, 0);

}